# DataFrame and Series

## DataFrame is basically rows and columns (multiple rows and multiple columns)

In [1]:
import pandas as pd

In [2]:
people = {'name' : ['abhi','abc', 'mark'],
         'surname': ['joshi','xyz', 'tolan'],
         'Hobby':['play','sing','dance']}

### Let's create DataFrame of this data

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   name surname  Hobby
0  abhi   joshi   play
1   abc     xyz   sing
2  mark   tolan  dance

In [5]:
type(df)

pandas.core.frame.DataFrame

### So DataFrame has multiple rows and columns, 2-dimensional array

### To get only one column, we can have

In [6]:
df.name

0    abhi
1     abc
2    mark
Name: name, dtype: object

In [7]:
#or
df['name']

0    abhi
1     abc
2    mark
Name: name, dtype: object

In [8]:
type(df.name)

pandas.core.series.Series

### So for single column, we get series type
### So series are data of single column, 1-dimensional array

### Accessing Multiple Columns with data

In [9]:
df[['name','Hobby']]
# as we are getting multiple columns now it is dataframe

   name  Hobby
0  abhi   play
1   abc   sing
2  mark  dance

### Accessing only column names

In [10]:
df.columns

Index(['name', 'surname', 'Hobby'], dtype='object')

### Accessing the rows of dataframe

In [11]:
# Using iloc
df.iloc[0]  # to access first row, using square brackets

name        abhi
surname    joshi
Hobby       play
Name: 0, dtype: object

#### To access multiple row

In [12]:
df.iloc[[0,1]]

   name surname Hobby
0  abhi   joshi  play
1   abc     xyz  sing

#### With iloc, we can access column also, by passing column number we want to access as a second argument ( don't pass column name)

In [13]:
df.iloc[[0,1], 2]

0    play
1    sing
Name: Hobby, dtype: object

In [15]:
df[1:]

   name surname  Hobby
1   abc     xyz   sing
2  mark   tolan  dance

In [16]:
# Using loc
df.loc[0]

name        abhi
surname    joshi
Hobby       play
Name: 0, dtype: object

In [17]:
df.loc[[0,1]]

   name surname Hobby
0  abhi   joshi  play
1   abc     xyz  sing

 #### With loc, we can access column also, by passing column name we want to access as a second argument ( don't pass column number)

In [19]:
df.loc[[0,1], 'Hobby']

0    play
1    sing
Name: Hobby, dtype: object

In [22]:
df.loc[[0,1], ['Hobby','name']] # in any order column names can be passed

  Hobby  name
0  play  abhi
1  sing   abc

## Excerise with stack overflow data

In [23]:
ls

'DataFrame and Series.ipynb'         so_survey_2019.pdf
 pd1_basics_and_reading_data.ipynb   survey_results_public.csv
 README_2019.txt                     survey_results_schema.csv

In [25]:
stack = pd.read_csv('survey_results_public.csv')

In [26]:
stack

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [28]:
stack.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [29]:
stack['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

### To get value count of responses (How many are Yes and No)

In [32]:
stack['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [37]:
stack.loc[0,'Hobbyist']

'Yes'

In [38]:
stack.loc[[0,1,2],'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

### Slicing (it is inclusive of last value)

In [41]:
stack.loc[0:2,'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [43]:
 stack.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time